* {
    padding: 0px;
    margin: 0px;
}

.buttons {
    border: 3px solid rebeccapurple;
    padding: 10px 0px 10px 25px;
}

.navbtn {
    width: 200px;
    height: 150px;
}

.book {
    font-style: italic;
}

.col {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

.row {
    padding: 10px;
    border: 3px solid rebeccapurple;
    display: flex;
}

@media only screen and (max-width: 480px){
    .navbtn {
        background-color: yellow;
        width: 100%;
    }
    .sm-0 {
        /* we will not display anything with the class .sm-0 if the screen's width is less than 480px */
        display: none;
    }
    .sm-4 {
        width: 100%;
    }
}

@media only screen and (min-width: 481px){
    .navbtn {
        background-color: blue;
        width: 49%;
    } 
    .med-2 {
        /* anything with the class .med-1 will get 25% of the available width if the screen's width is greater than 480px */
        width: 50%;
    }
}

@media only screen and (min-width: 1024px){
    .navbtn {
        background-color: red;
        width: 24%;
    }
    .lg-1 {
        width: 25%;
    }
    .lg-3 {
        width: 75%;
    }
}

